.button {
    display: block;
    background-color:black;
    border: none;
    color:white;
    border-radius: 10px;
    width: 65%;
    font-size: 9px;
    font-weight: bold;

    padding: 10px 20px;
    margin: 20px auto;
    height: 30px;
}